.container {
	padding: {
		top: 51px;
		bottom: 2em;
	}
}

/* Main nav */
.navbar-toggle {
	margin-left: 15px;
}
/* /Main nav */


/* Logotype */
.navbar-brand small {
	font-size: 65%;
}
/* /Logotype */


.media {
	border-bottom: 1px solid #F0F0F0;
	margin: 0;
	padding: {
		top: 1em;
		bottom: 1em;
	}
}